{% extends 'layout.html' %}
{% from "button/macro.njk" import button %}
{% from "summary-list/macro.njk" import summaryList %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check your answers before sending your application</h1>

      <h2 class="nhsuk-heading-m">
        Personal details
      </h2>

      {{ summaryList({
        rows: [
          
          {
            key: {
              text: "Magic tricks"
            },
            value: {
              text: data.magicTricks
            },
            actions: {
              items: [
                {
                  href: "/magical-powers",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Details of magical powers"
            },
            value: {
              html: data.Symptoms
            },
            actions: {
              items: [
                {
                  href: "/symptoms",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
              
            }
          },
          {
            key: {
              text: "Date of first magic trick"
            },
            value: {
              html: data.dateOfTrick.day + " " + data.dateOfTrick.month + " " + data.dateOfTrick.year
            },
            actions: {
              items: [
                {
                  href: "/date",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
              
            }
          }      
        ]
      }) }}

    
      

      <form action="/success" method="post" novalidate>
        {{ button({
          text: "Confirm and send"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}