{% extends 'layout.html' %}
{% from "back-link/macro.njk" import backLink %}
{% from "button/macro.njk" import button %}
{% from "radios/macro.njk" import radios %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "/start-page",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/magical-powers-answers" method="post" novalidate>

        {{ radios({
          name: "magicTricks",
          fieldset: {
            legend: {
              text: "What sort of magic tricks have you got up to?",
              isPageHeading: true,
              classes: "nhsuk-fieldset__legend--l"
            }
          },
          hint: {
            text: 'This is important.'
          },
          value: data.magicTricks,
          items: [
            {
              value: "I sawed my neighbour in half",
              text: "I sawed my neighbour in half"
            },
            {
              value: "I levitated my granny",
              text: "I levitated my granny"
            },
            {
              value: "I disappeared the cat",
              text: "I disappeared the cat"
            },
            {
              value: "I haven't done anything yet",
              text: "I haven't done anything yet"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}