{% extends 'layout.html' %}
{% from "back-link/macro.njk" import backLink %}
{% from "button/macro.njk" import button %}
{% from "radios/macro.njk" import radios %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% from "breadcrumb/macro.njk" import breadcrumb %}


{% block beforeContent %}
  {{ backLink({
    href: "/start-page",
    text: "Back"
  }) }}
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    
      <form action="/magical-powers-answers" method="post" novalidate>

        {{ radios({
          name: "magicTricks",
          fieldset: {
            legend: {
              text: "What sort of magic tricks have you got up to?",
              isPageHeading: true,
              classes: "nhsuk-fieldset__legend--l"
            }
          },
          hint: {
            text: 'This is important.'
          },
          value: data.magicTricks,
          items: [
            {
              value: "I sawed my neighbour in half",
              text: "I sawed my neighbour in half"
            },
            {
              value: "I levitated my granny",
              text: "I levitated my granny"
            },
            {
              value: "I disappeared the cat",
              text: "I disappeared the cat"
            },
            {
              value: "I haven't done anything yet",
              text: "I haven't done anything yet"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}
{% from "details/macro.njk" import details %}

{% set dummyNhsNumber = "999 123 4567" %}

{% call details({
  summaryText: "What if you have spontaneously combusted"
}) %}
  <p>Don't worry, you're magic you can re-appear in 3 easy steps</p>
  <ol>
    <li>Wave your magic wand</li>
    <li>Say abracadabra</li>
    <li>Eat a frog</li>

  </ol>
  <p>Ask your GP surgery for help if you cannot find your NHS number.</p>
{% endcall %}
      </form>
    </div>
  </div>
{% endblock %}